/* Color
========================================================================== */
$topColor : #f00;
$bottomColor : #00f;



/* Animation
========================================================================== */
$aniSec : 2.8s;