
/* Color
========================================================================== */
$topColor : #f00;
$bottomColor : #00f;



/* Animation
========================================================================== */
$aniSec : 1.5s;



/* Prefix
========================================================================== */
$prefix : webkit moz ms;	//Did not include 'o' because this app does not need 'o'