html,body{
	height: 100%;
	overflow: hidden;
}

img{
	width: 100%;
	vertical-align: top;
}


/* Panel basic
========================================================================== */
.panel-cover{
	height: 100%;

	.content-cover{
		height: 0%;
		padding: 10px;
		box-sizing: border-box;
		background-color: #fff;
		@include prefix(transform, scale(1, 0) translate3d(0, 0, 0), $prefix);
		@include prefix(transition, all $aniSec ease-in-out, $prefix);

	}
	

	.year{
		width: 100%;
		height: 100%;
		display: inline-block;
		background-color: #fff;
		transition : all $aniSec ease-in-out;

		&.ng-enter{
			@include prefix(animation, v-enter $aniSec, $prefix);
		}

		&.ng-leave{
			@include prefix(animation, v-leave $aniSec, $prefix);
		}

	}

	.panel-description{
		height: 0%;
		overflow: hidden;
		@include prefix(transition, all $aniSec ease-in-out, $prefix);
		@include prefix(transform-origin, center top, $prefix); 

		.desc-img{
			height: 100%;
			display: block;

			&.ng-enter{
				@include prefix(animation, v-enter $aniSec, $prefix);
			}

			&.ng-leave{
				@include prefix(animation, v-leave $aniSec, $prefix);
			}
		}
	}
}


.panel{
	height: 50%;
	transition : all $aniSec ease-in-out;
	// padding: 10px;
	position: relative;
	box-sizing: border-box;

	&.top{
		background-color: $topColor;
	}

	&.bottom{
		background-color: $bottomColor;
	}

	&.panel-opened{
		// height: 0%;
		// padding: 0;
	}

	.main-title{
		color: #fff;
		height: 100%;
		display: block;
		transform-origin: left top;
		-webkit-transform-origin: left top;
		transition : all $aniSec ease-in-out;

		.title-img{
			height: 100%;
		}
		


		&.top-title{
			// transform: scaleX(.275);		// ( deviceWidth / textLength ) * 1.5
		}

		&.bottom-title{
			// transform: scaleX(.203);		// ( deviceWidth / textLength ) * 1.5
		}
	}


}


/* Opened panel
========================================================================== */
.panel-content-opened{

	.panel-description{
		width: 100%;
		height: 90%;
		padding: 10px;
		box-sizing: border-box;
	}



	/* Opened : Positive
	========================================================================== */
	&.positive-mode{
		.negative-panel{
			
			.content-cover{
				height: 100%;
				@include prefix(transform, scale(1, 1) translate3d(0, 0, 0), $prefix);
				@include prefix(transform-origin, left bottom, $prefix);
			}

			.year{
				&.ng-enter{
					@include prefix(transform-origin, center bottom, $prefix);		
				}

				&.ng-leave{
					@include prefix(transform-origin, center bottom, $prefix);		
				}
			}
		
		}



		.positive-panel{

			.main-title{
				height: 10%;
				@include prefix(transform, scale(1, 1) translate3d(0, 0, 0), $prefix);
			}

			.content-cover{
				height: 0%;
			}

		}
		
	}





	/* Opened : Negative
	========================================================================== */
	&.negative-mode{
		
		.negative-panel{
			.content-cover{
				height: 90%;
				@include prefix(transform, scale(1, 1) translate3d(0, 0, 0), $prefix);
			}

			.main-title{
				height: 10%;
				@include prefix(transform, scale(1, 1) translate3d(0, 0, 0), $prefix);
			}


			
		}

		

		.positive-panel{

			.content-cover{
				height: 100%;
				@include prefix(transform, scale(1, 1) translate3d(0, 0, 0), $prefix);
				@include prefix(transform-origin, left bottom, $prefix);
			}

		}
	}
	

	.main-title{
		height: 0%;
		@include prefix(transform, scale(1, 0) translate3d(0, 0, 0), $prefix);
	}

	
}
