<section class="panel-cover" ng-class="{ 'panel-content-opened' : openOn, 'positive-mode' : openPos, 'negative-mode' : openNeg }">
	
	<div class="top negative-panel panel" ng-click="open('neg')" ng-class="{ 'panel-opened' : openOn }">
		<span class="top-title main-title">
			<img src="img/title-neg.png" class="title-img">
		</span>
		
		
		<article class="content-cover">
			<!-- <div class="panel-content">
				<span class="year">
					<img src="img/dummy-1.png" alt="">
				</span>
			</div>

			<div class="panel-description">
				<img src="img/dummy-5.png" alt="">
			</div>	 -->
		</article>
		
	</div>

	
	
	
	<div class="bottom positive-panel panel" ng-click="open('pos')">
		
		<article class="content-cover">
			<!-- <div class="panel-content">
				<span class="year">
					<img src="img/dummy-1.png" alt="">
				</span>
			</div>

			<div class="panel-description">
				<img src="img/dummy-2.png" class="desc-img">
			</div>	 -->
		</article>
		
		<span class="bottom-title main-title">
			<img src="img/title-pos.png" class="title-img">
		</span>
		
	</div>

</section>